{{#prettify}}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-itunes-app" content="app-id=853620924">
	<title>{{title}}</title>
    <link rel="stylesheet" href="{{stylesheet}}?ver={{moment unixtimestamp  format ="YYYYMMDDHHmmss"}}">
</head>
<body>
    {{>body}}
    <script src="lib/zepto.js?ver={{moment unixtimestamp  format ="YYYYMMDDHHmmss"}}"></script>
	<script src="http://hm.baidu.com/h.js?34a908ea88275f6ef0a72588f9c0be86" type="text/javascript"></script>
</body>
</html>
{{/prettify}}
