html, body { position:relative; z-index:1; min-width:1024px; height:100%; background:#fff;}
body { min-height:1103px; *height:865px; overflow-x:hidden;/* max-height:1472px; */}
/* 清除浮动 */
.clearfix:before,.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
  overflow:hidden;
}
.clearfix {
  zoom:1; /* for IE6 IE7 */
}


#globalheader { z-index:9998; top:18px; margin:0 auto; }

.center { display:block; margin-right:auto; margin-left:auto; text-align:center; }
.full { position:absolute; z-index:2; top:0; right:0; bottom:0; left:0; color:transparent; font-size:0; line-height:0; *background:url(http://images.apple.com/global/elements/blank.gif); }
.hide { display:none; }


/* cta links */
.cta { position:relative; z-index:10; overflow:hidden; height:32px; }
.cta a { display:inline-block; margin:0 18px 25px; height:29px; }
.cta a img { margin-top:-4px; }
.cta a:hover img,
.cta a:active img { margin-top:-36px; }
.cta a .medium { display:inline-block; }
.cta a .large { display:none; }

@media only screen and (min-device-width:320px) and (max-device-width:480px) and (orientation:portrait) { /* iphone portrait */
    .cta { height:auto; }
    .cta a { display:block; clear:both; margin-right:auto; margin-left:auto; height:20px; }
    .cta a.watch { display:block; clear:both; margin-right:auto; margin-left:auto; height:19px; }
    .cta a:hover,
    .cta a:active { margin-top:-56px; }
    .cta a .medium { display:none; }
    .cta a .large { display:inline-block; }
}


/* promos */
.promos { z-index:1; overflow:hidden; width:100%; height:200px; margin-top: 2px;}
.promos ul { position:relative; z-index:1; overflow:hidden; margin:0 auto; min-width:1024px; width:100%; max-width:1440px; height:200px; text-align:center; }
.promos ul li { position:relative; z-index:1; float:left; overflow:hidden; margin:0; width:25%; height:200px; }
.promos ul li + li + li + li { margin-right:-.3%; *margin-right:-.5%; width:25.3%; }

.promos ul li a { position:absolute; z-index:1; top:0; right:0; bottom:0; left:0; display:block; overflow:hidden; cursor:pointer; }
.promos ul li a:hover {
    opacity: 0.8;
}
.promos ul li + li a { border-left:2px solid #000; }

.promos ul li a img { position:absolute; z-index:1; left:50%; margin-left:-182px; }
.promos ul li .title{font-weight: bold; text-shadow: 1px 1px 1px #000; color: #fff; position: absolute; z-index: 2;  *+left:0; text-align: center; width: 100%; font-size: 14px; height: 48px; line-height: 48px; bottom: 0; }
.promos ul li a.left img { left:0; }
.promos ul li a.right img { right:0; left:auto; }

.promos ul li a img.wide { display:none; }
@media only screen and (min-width:1200px) {
    .promos ul li a img.wide { display:block; }
    .promos ul li a img.narrow { display:none; }
}


/* banner */
.banner {
    height:93px;
    width: 1004px;
    position: relative;
    margin: 0 auto;
}
.second-banner{
    height: 39px;
    z-index: 3;
    position: absolute;
    left: 0;
    right: 0;
}
.second-banner .s_b_content{
    border-bottom: 1px solid #f8f8f8; 
    width: 1024px;
    margin: 0 auto;
    background: none!important;
}
.second-banner .s_b_content h2{
    margin-left: 128px;
    margin-top: 29px;
    margin-bottom: 10px;
    font-weight: normal;
}
.banner img { display:block; margin:0 auto; }

.index-banner-1{
    background: url("../../images/banner_01.jpg") center top no-repeat;
    width: 1440px;
    height: 600px;
}
.index-banner-2{
    background: url("../../images/banner_02.jpg") center top no-repeat;
    width: 1440px;
    height: 600px;
}
.index-banner-3{
    background: url("../../images/banner_03.jpg") center top no-repeat;
    width: 1440px;
    height: 600px;
}
.index-banner-4{
    background: url("../../images/banner_04.jpg") center top no-repeat;
    width: 1440px;
    height: 600px;
}
.index-banner-5{
    background: url("../../images/banner_05.jpg") center top no-repeat;
    width: 1440px;
    height: 600px;
}


/* homenav */
#homenav{
    height: 93px;
    background-color: #000;
    border-bottom: 1px solid #333;
/*    background: url("../../images/nav_bg.png") repeat-x top;*/
}
#homenav .banner .logo{
    background: url("../../images/logo.png") center top no-repeat;
    display: inline-block;
    height: 158px;
    width: 115px;
    position: absolute;
    left: 0;
    z-index: 999;
}
#homenav .banner .title{
    background:url("../../images/zhongguodao.png") center top no-repeat;
    display: inline-block;
    width: 74px;
    height: 53px;
    margin-left: 350px;
}
#homenav .banner .title:hover{
    background:url("../../images/zhongguodao-red.png") center top no-repeat;
    display: inline-block;
    width: 74px;
    height: 53px;
    margin-left: 350px;
}
#nav_wrapper {
    display: inline-block;
    float: right;
    margin-top: 29px;
    position: absolute;
    height: 37px;
    top: 0;
    line-height: 40px;
    font-size: 14px;
    right: 0;
}
#nav_wrapper #nav_menu a {
    color: #fff;
    width: 90px;
    display: inline-block;
    text-align: center;
}
#nav_wrapper #nav_menu>li >a:hover{
    text-decoration: none;
    border-bottom: 3px solid #c7000b;
}
#nav_wrapper #nav_menu>li >a.current{
    border-bottom: 3px solid #c7000b;
}
#nav_animate_block{
    height: 2px ;
    background-color: #c7000b;
    position: absolute;
    bottom: -3px;
}

/*homebutton*/
.purchase-button{
    margin:10px auto 0 auto;
}


.get-more{
    font-size: 18px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

/* homefooter */
#homefooter {margin-top:2px;  z-index:1; right:0; min-width:980px; width:100%; background-color: #333333;  padding:0; padding-bottom: 17px; color:#aaaaaa; font-size: 12px; line-height:1.2; text-align:center; zoom:1; }
#homefooter .wrapper { margin:0 auto; width:980px;}
#homefooter .wrapper .bottom {border-bottom: 1px solid #4f4f4f;
    width: 100%;
    }
#homefooter .wrapper:after { content:'.'; display:block; visibility:hidden; clear:both; height:0; }

#homefooter .left { float:left; clear:both; width:49%; padding-top:1.5em; text-align:left; }
#homefooter .right { float:right; width:auto; padding-top:1.5em; text-align:right; }

#homefooter p,
#homefooter .wrapper ul,
#homefooter .wrapper ul li { display:inline; margin:0; }

#homefooter .bottom{
    border-bottom: 1px solid #4f4f4f;
    margin-top:13px;
}
#homefooter dl {
    width: 22%;
    float: left;
    text-align: left;
    margin-top: 15px;
}
#homefooter dl:first-child{
    margin-left: 100px;
}
#homefooter dl:first-child > dd{
    margin-top: 124px;
}
#homefooter ul li{
    margin-top: 15px;
}
#homefooter dl dt{
    color: #fff;
    padding-top: 10px;
    font-weight: bold;
}
#homefooter dl dd{
    margin-top: 15px;
    color: #aaaaaa;
}
#homefooter>div:first-child{
    max-width: 1440px;
    width: auto;
    margin:0 auto;
}


#nav_wrapper ul li{
    display: inline-block;
}

#nav_wrapper ul{list-style:none;margin:0 auto; height:40px; }
#nav_wrapper ul li{float:left;text-align:center;width:100%;height:40px;line-height:40px;position:relative;z-index:10; *+height:200px!important;}
#nav_wrapper ul li a,ul li span,ul li span a{display:block;width:125px;}
#nav_wrapper ul li>a{color:#000;}
#nav_wrapper ul li span{display:none;position:absolute;top:30px; width: 82px;
    border-top: 3px solid #c7000b;
    background: #d9c6ae;
    *+left:0;
    *+padding-top:30px;
    min-height: 67px;}
#nav_wrapper ul li:hover span{display:block;}

#billboard { min-width: 960px;
    max-width: 1440px;
    width: auto;
    margin: 0 auto;
    position: relative;
    *+z-index: -1;
}
#billboard .purchase{
    width: 1004px;
    height: 600px;
    margin: 0 auto;
    left: 50%;
    top: 0;
    position: relative;
    margin-left: -502px;
    z-index: 9999;
}
#billboard .purchase .detail{
    position: absolute;
    right: 10px;
    top:49px;
    *+width:472px!important;
}
#billboard .purchase .detail .detail-img-1{
    background: url("../../images/3_01.png") center top no-repeat;
    height: 205px;
    width: 328px;
    margin-top: 130px;
}
#billboard .purchase .detail .detail-img-2{
    background: url("../../images/3_02.png") center top no-repeat;
    height: 200px;
    width: 400px;
    margin-top: 130px;
}
#billboard .purchase .detail .detail-img-3{
    background: url("../../images/3_03.png") center top no-repeat;
    height: 258px;
    width: 300px;
    margin-top: 130px;
}
#billboard .purchase .detail .detail-img-4{
    background: url("../../images/3_04.png") center top no-repeat;
    height: 257px;
    width: 362px;
    margin-top: 160px;
}
#billboard .purchase .detail .detail-img-5{
    background: url("../../images/3_05.png") center top no-repeat;
    height: 283px;
    width: 392px;
    margin-top: 100px;
}
#pagenavi{
    position: absolute;
    top: 560px;
    left: 50%;
    margin-left: -70px;
}
#pagenavi a.active{
    background: url("../../images/dot_full.png") center top no-repeat !important;
    background-size: 10px 10px;
    display: inline-block;
    height: 10px;
    width: 10px;
}

.detail-ie7{
    position: absolute;
    right: 300px;
    top: -58px;
*+width:472px!important;
    }
.detail-img-ie7{
    background: url("../../images/zhongguodao-ie7.png") center top no-repeat;
    height: 384px;
    width: 472px;
    margin-top: 160px;
}

/*about*/
.container{
    width: 1024px;
    margin: 0 auto;
}
.about .detail {
    margin-top:100px;
}
.about .detail p{
    color:#999;
    text-indent: 2em;
    line-height: 24px;
    font-size: 13px;
}
.about .table-area{
    margin-top: 50px;
}
.about .table-area .sign_title {
    color: #333;
    font-size: 16px;
}
.about .table-area table {
    margin-top: 16px;
    border: 1px solid #f4f4f4;
    width: 758px;
    font-size: 14px;
    color: #333;
}
.about .table-area table tr .thead {
    width: 148px;
    padding-left: 20px;
    background: #f8f8f8;
    color: #666;
}
.about .table-area table td {
    border-bottom: 1px dotted #e6e6e6;
}
.about .table-area table tr .content_t {
    width: 558px;
}
.about .table-area table tr .content_t{
    padding: 14px 14px 14px 30px;
}
.about .img-area{
    margin-top: 50px;
}
.address .img-area{
    margin-top: 100px;
}
.address .img-area img{
    width:100%;
}
.address .detail span{
    display: block;
    margin-top: 10px;
    font-size: 18px;
}
.address .detail span:first-child{
    margin-top: 30px;
}

/*koubei*/
.koubei .img-area{
    margin-top: 100px;
}
.koubei .img-area img{
    width: 800px;
}
/*case*/
.case ul{
    margin-top: 80px;
}
.case ul li{
    position: relative;
    border-bottom: 1px solid #f8f8f8;
    margin-top: 20px;
    padding-bottom: 20px;
}
.case ul li div{
    float: left;
}
.case ul li .left{
    width: 300px;
}
.case ul li .left img{
    width: 100%;
}
.case ul li .right{
    margin-left: 20px;
}
.case ul li .right .detail{

}
.case ul li .right a{
    position: absolute;
    display: block;
    bottom: 30px;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #f36f20;
    color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
.case ul li .right a:hover{
    background-color: #f32200;
    text-decoration: none;
}
.case ul li .right a:active{
    background-color: #f36f20;
}
.case-01 .img-area span{
    display: block;
    font-size: 14px;
    margin-top: 20px;
}
.case-01 .img-area{
    margin-top: 80px;
}
.case-01 .img-area img{
    margin: 0 auto;
    width: 600px;
    display: block;
    margin-top: 10px;
}


@-moz-document url-prefix() {
    #homefooter dl {
        width: 15%;
        float: left;
        margin-top: 28px;
    }
}