<div id="footer">
    <div class="grid-c">
        <p><a target="_blank" href="http://www.huanju.cn/s/introduction.html" title="关于欢聚">关于欢聚</a><span>|</span> <a target="_blank" href="http://www.huanju.cn/s/join.html" title="欢聚招聘">欢聚招聘</a><span>|</span> <a target="_blank" href="http://www.huanju.cn/s/contact.html" title="联系欢聚">联系欢聚</a><span>|</span> <a target="_blank" href="http://m.yy.com/zone/help/license.html" title="YY音乐-用户服务协议">用户服务协议</a><span>|</span> 客服频道：<a style="color:#FA7408;" target="_blank" href="http://www.yy.com/go.html#10" title="客服频道"><b>10</b></a><span>|</span> <a target="_blank" href="http://kf.yy.com" title="YY客服中心">YY客服中心</a><span>|</span> <a target="_blank" href="http://investors.yy.com/" title="Investor Relations">Investor Relations</a></p>
        <p> © 2005-2014 YY.com , All rights reserved. <a target="_blank" href="http://www.miibeian.gov.cn/">粤ICP备09075143号</a><span>|</span> 备案编号：4401060102637 </p>
    </div>
</div>
<script src="/lib/jquery-1.7.2.js"></script>
<!-- ECharts单文件引入 -->
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
<script src="/app.js"></script>
<script type="text/javascript">

</script>